<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Credentials -->
    <add key="vUser" value="" />
    <add key="vPass" value="" />
    <add key="sqlSaUser" value="" />
    <add key="sqlSaPass" value="" />

    <!-- Mail Configuration -->

    <add key="mailenabled" value="true"/>
    <add key="mailserver" value=""/>
    <add key="port" value=""/>
    <add key="fromMail" value=""/>
    <add key="toMail" value="" />
    <add key="NotificationSubject" value="Backup Notification for %COMPUTERNAME%" />

    <!-- Backup Settings -->
    <add key="target" value="F:\Backup\Last" />
    <add key="oldTarget" value="F:\Backup\Old" />
    <add key="dayOfFullBackup" value="5" />
    <add key="dayOfMoveOldBackup" value="5" />
    <add key="ArchieveBackup" value="true" />
    <add key="runIncrementalBackup" value="true" />
    <add key="runFullOnIncrFail" value="false" />

    <!-- ADMS Executable -->
    <add key="admsExe" value="C:\Program Files\Autodesk\Vault Server 2025\ADMS Console\Connectivity.ADMSConsole.exe" />

    <!-- Backup Log Setup -->
    <add key="log" value="%TEMP%\VaultBackupLog-%DATE%.log" />
    <add key="VBkuplog" value="F:\Backup\Logs\VaultBackup-%DATE%.log" />

    <!-- Backup Report Setup -->
    <add key="BRep" value="%TEMP%\VaultBackupReport-%DATE%.csv" />
    
    
  </appSettings>
</configuration>